@*@GeneratedCode*@
@model IEnumerable<QTHungryDogsCustomer.AspMvc.Models.Base.Restaurant>
@{
  var orderBy = (string)ViewBag.OrderBy ?? string.Empty;
}
<thead>
 <tr>
  <th>
   @if (orderBy.StartsWith("DisplayName") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="DisplayName DESC" class="btn btn-outline"><strong>DisplayName</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("DisplayName") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>DisplayName</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="DisplayName ASC" class="btn btn-outline"><strong>DisplayName</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("OwnerName") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="OwnerName DESC" class="btn btn-outline"><strong>OwnerName</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("OwnerName") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>OwnerName</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="OwnerName ASC" class="btn btn-outline"><strong>OwnerName</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("UniqueName") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="UniqueName DESC" class="btn btn-outline"><strong>UniqueName</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("UniqueName") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>UniqueName</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="UniqueName ASC" class="btn btn-outline"><strong>UniqueName</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("Email") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="Email DESC" class="btn btn-outline"><strong>Email</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("Email") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Email</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="Email ASC" class="btn btn-outline"><strong>Email</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("AddressStreet") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="AddressStreet DESC" class="btn btn-outline"><strong>AddressStreet</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("AddressStreet") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>AddressStreet</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="AddressStreet ASC" class="btn btn-outline"><strong>AddressStreet</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("AddressHousenumber") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="AddressHousenumber DESC" class="btn btn-outline"><strong>AddressHousenumber</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("AddressHousenumber") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>AddressHousenumber</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="AddressHousenumber ASC" class="btn btn-outline"><strong>AddressHousenumber</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("AddressZipcode") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="AddressZipcode DESC" class="btn btn-outline"><strong>AddressZipcode</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("AddressZipcode") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>AddressZipcode</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="AddressZipcode ASC" class="btn btn-outline"><strong>AddressZipcode</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("AddressCity") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="AddressCity DESC" class="btn btn-outline"><strong>AddressCity</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("AddressCity") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>AddressCity</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="AddressCity ASC" class="btn btn-outline"><strong>AddressCity</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("OpenState") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="OpenState DESC" class="btn btn-outline"><strong>OpenState</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("OpenState") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>OpenState</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="OpenState ASC" class="btn btn-outline"><strong>OpenState</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("State") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="State DESC" class="btn btn-outline"><strong>State</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("State") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>State</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="State ASC" class="btn btn-outline"><strong>State</strong></a>
    }
  </th>
  <th></th>
 </tr>
</thead>
