@*@GeneratedCode*@
@model IEnumerable<QTHungryDogsCustomer.AspMvc.Models.Base.OpeningHour>
@{
  var orderBy = (string)ViewBag.OrderBy ?? string.Empty;
}
<thead>
 <tr>
  <th>
   @if (orderBy.StartsWith("RestaurantId") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="RestaurantId DESC" class="btn btn-outline"><strong>RestaurantId</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("RestaurantId") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>RestaurantId</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="RestaurantId ASC" class="btn btn-outline"><strong>RestaurantId</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("Weekday") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="Weekday DESC" class="btn btn-outline"><strong>Weekday</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("Weekday") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Weekday</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="Weekday ASC" class="btn btn-outline"><strong>Weekday</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("OpenFrom") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="OpenFrom DESC" class="btn btn-outline"><strong>OpenFrom</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("OpenFrom") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>OpenFrom</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="OpenFrom ASC" class="btn btn-outline"><strong>OpenFrom</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("OpenTo") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="OpenTo DESC" class="btn btn-outline"><strong>OpenTo</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("OpenTo") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>OpenTo</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="OpenTo ASC" class="btn btn-outline"><strong>OpenTo</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("Notes") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="Notes DESC" class="btn btn-outline"><strong>Notes</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("Notes") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Notes</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="Notes ASC" class="btn btn-outline"><strong>Notes</strong></a>
    }
  </th>
  <th>
   @if (orderBy.StartsWith("IsActive") && orderBy.EndsWith("ASC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="IsActive DESC" class="btn btn-outline"><strong>IsActive</strong> <i class="fa fa-sort-desc"></i></a>
    }
   else if (orderBy.StartsWith("IsActive") && orderBy.EndsWith("DESC"))
    {
     <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>IsActive</strong> <i class="fa fa-sort-asc"></i></a>
    }
   else
    {
     <a asp-action="OrderBy" asp-route-orderBy="IsActive ASC" class="btn btn-outline"><strong>IsActive</strong></a>
    }
  </th>
  <th></th>
 </tr>
</thead>
